* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 16px;
  background-color: rgb(202, 176, 176);
}

.navbar {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(174, 139, 139);
  width: 100%;
  align-items: center;
  padding: 8px 100px 8px 100px;
  text-align: center;
  margin: 0;
  box-shadow: 1px 2px 5px rgba(125, 117, 117, 0.578);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
}

a {
  text-decoration: none;
  color: rgb(233, 230, 230);
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5em;
  font-weight: bolder;
}

.header .material-icons {
  font-size: 2em;
  margin-right: 5px;
  color: rgb(255, 102, 0);
}

.contact a {
  background-color: rgb(255, 102, 0);
  color: white;
  font-weight: bold;
  padding: 0.8em 1em;
  transition: 0.5s;
}

.contact a:hover {
  background-color: white;
  color: rgb(174, 139, 139);
}

.nav-link {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.contact {
  display: flex;
  justify-content: flex-end;
}

.nav-link a {
  text-decoration: none;
  color: rgb(243, 240, 240);
  transition: 0.5s;
}

.nav-link a:hover {
  color: rgb(255, 102, 0);
}

.container1 {
  margin-top: 5em;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px 5% 10px 10%;
  margin-bottom: 4em;
  background-color: rgb(121, 63, 63);
}

.port9 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: white;
}

.port9 img {
  height: 80vh;
}

.head2 {
  font-size: 2em;
  font-weight: bolder;
  color: #8395a7;
  margin-bottom: 0.5em;
  max-width: 600px;
}

.head1 {
  font-size: 4em;
  font-weight: bolder;
  max-width: 600px;
  margin-bottom: 0.5em;
}

.orange {
  color: rgb(255, 102, 0);
}

.p1 {
  font-size: 32px;
  font-weight: bolder;
  max-width: 300px;
  margin-bottom: 0.5em;
}

button {
  background-color: rgb(255, 102, 0);
  color: white;
  font-weight: bold;
  border: none;
  padding: 1em 2em;
  transition: 0.5s;
}

button:hover {
  background-color: white;
  color: rgb(174, 139, 139);
}

.container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  padding: 5% 10% 5% 10%;
  background-color: rgb(121, 63, 63);
  margin-bottom: 4em;
}

.headings1 {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head3 {
  font-size: 26px;
  font-weight: 700;
  color: white;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  padding-top: 20px;
}

.sub1 {
  font-size: 0.875em;
  color: #8395a7;
  margin-bottom: 0.5rem;
}

.p2 {
  margin-bottom: 1rem;
}

.port2 {
  width: 500px;
}

.female2 {
  width: 200px;
  vertical-align: middle;
}

.aboutblog {
  display: flex;
  flex-direction: column;
  padding: 34px 20px 0px;
  border-left: 5px solid rgb(255, 102, 0);
}

.sub2 {
  color: #8395a7;
  margin-bottom: 0.5rem;
}

.head4 {
  font-size: 26px;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
}

.p3 {
  line-height: 1.5;
  margin-bottom: 1em;
  max-width: 620px;
}

.p4 {
  line-height: 1.5;
  margin-bottom: 1rem;
  max-width: 620px;
}

.container3 {
  display: grid;
  background-color: rgb(121, 63, 63);
  grid-template-columns: auto auto auto;
}

.headings2 {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1 {
  padding: 0px 0px 4em 10%;
}

.box2 {
  padding: 0px 10% 4em 0px;
}

.sub1 {
  font-size: 0.875em;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.sub1 span {
  color: rgb(255, 102, 0);
  vertical-align: middle;
}

.head5 {
  font-size: 22px;
  text-transform: uppercase;
}

.p5 {
  color: #8395a7;
}

.head5:hover {
  color: rgb(255, 102, 0);
}

.sub-box {
  display: flex;
  text-align: right;
  transition: 0.5s;
}

.sub-box1 {
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  transition: 0.5s;
}

.sub-box:hover {
  color: rgb(255, 102, 0);
}

.sub-box1:hover {
  color: rgb(255, 102, 0);
}

.sub-box .service-icon1,
.service-icon2,
.service-icon3 {
  color: white !important;
  margin: 0.5em;
}

.service-icon1 .material-icons {
  transition: 0.5s;
  text-align: center;
  width: 100%;
}

.sub-box1 .service-icon4,
.service-icon5,
.service-icon6 {
  color: white !important;
  margin: 0.5em;
}

.service-icon1 {
  padding: 50px 40px;
  background-color: cyan;
}

.service-icon2 {
  padding: 50px 40px;
  background-color: goldenrod;
}

.service-icon3 {
  padding: 50px 40px;
  background-color: blue;
}

.service-icon4 {
  padding: 50px 40px;
  background-color: green;
}

.service-icon5 {
  padding: 50px 40px;
  background-color: orange;
}

.service-icon6 {
  padding: 50px 40px;
  background-color: teal;
}

.container4 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5% 10% 5% 10%;
}

.headings3 {
  grid-column: 1 / 4;
}

.project {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.item-img1 {
  background: rgb(20, 216, 238);
  padding: 10px;
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.item img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 5px rgb(184, 183, 183);
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #0a0a0acd;
  border-radius: 10px;
}

.item-img1:hover .overlay {
  opacity: 1;
}

.text {
  color: rgb(255, 102, 0);
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text1 {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.item-img2 {
  background: goldenrod;
  padding: 10px;
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.overla {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000d7;
  border-radius: 10px;
}

.item-img2:hover .overla {
  opacity: 1;
}

.txt {
  color: rgb(255, 102, 0);
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.txt1 {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.item-img3 {
  background: blue;
  padding: 10px;
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.overla {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #0a0a0acd;
  border-radius: 10px;
}

.item-img3:hover .overla {
  opacity: 1;
}

.txt {
  color: rgb(255, 102, 0);
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.txt1 {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.item-img4 {
  background: rgb(22, 117, 13);
  padding: 10px;
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.overla {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #0a0a0acd;
  border-radius: 10px;
}

.item-img4:hover .overla {
  opacity: 1;
}

.txt {
  color: rgb(255, 102, 0);
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.txt1 {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.item-img5 {
  background: orange;
  padding: 10px;
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.overla {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #0a0a0acd;
  border-radius: 10px;
}

.item-img5:hover .overla {
  opacity: 1;
}

.txt {
  color: rgb(255, 102, 0);
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.txt1 {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.item-img6 {
  background: teal;
  padding: 10px;
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.overla {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #0a0a0a9e;
  border-radius: 10px;
}

.item-img6:hover .overla {
  opacity: 1;
}

.txt {
  color: rgb(255, 102, 0);
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.txt1 {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container5 {
  padding: 5% 10% 5% 10%;
}

.img-context1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.img-context1:hover {
  box-shadow: -3px 2px 5px rgb(157, 151, 151);
}

.img img {
  width: 100%;
  height: 100%;
}

.p111 {
  position: relative;
  top: -30px;
  background-color: orange;
  width: 80%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 8px 0;
}

.content111 {
  text-align: center;
  padding: 0 20px 10px 20px;
}

.content111 a {
  text-decoration: none;
  color: orange;
}

.content-wrapper111 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  .content-wrapper111 {
    display: grid;
    grid-template-columns: auto auto ;
    gap: 20px;
  }

  .navbar {
    display: grid;
    grid-template-columns: auto;
    position: absolute;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5em;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact {
    display: flex;
    justify-content: center;
  }

  .nav-link a {
    padding: 0.5em;
  }

  .nav-link a:hover {
    background-color: rgb(121, 63, 63);
  }

  .container1 {
    margin-top: 25em;
    display: grid;
    grid-template-columns: auto;
  }

  .port9 {
    justify-content: center;
  }

  .container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 5% 10% 5% 10%;
  }

  .headings1 {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .port2 {
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .aboutblog {
    grid-column: 1 / 4;
    grid-row: 3 / 3;
    width: 100%;
	}

	.container4 {
		display: grid;
		grid-template-columns: auto auto;
		padding: 5% 10% 5% 10%;
	}
	
	.headings3 {
		grid-column: 1 / 4;
	}
	
	.project {
		display: grid;
		grid-template-columns: auto auto;
		gap: 20px;
	}

	.text {
		color: rgb(255, 102, 0);
		font-size: 26px;
		font-weight: bold;
		position: absolute;
		top: 50px;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
	
	.text1 {
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

	.txt {
		color: rgb(255, 102, 0);
		font-size: 26px;
		font-weight: bold;
		position: absolute;
		top: 50px;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
	
	.txt1 {
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
}


@media screen and (max-width: 640px) {
  .content-wrapper111 {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }

  .navbar {
    position: absolute;
    display: grid;
    grid-template-columns: auto;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact {
    display: flex;
    justify-content: center;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5em;
  }

  .container1 {
    margin-top: 25em;
    display: grid;
    grid-template-columns: auto;
  }

  .container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 5% 10% 5% 10%;
  }

  .headings1 {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .port2 {
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .aboutblog {
    grid-column: 1 / 4;
    grid-row: 3 / 3;
    width: 100%;
  }

  .container3 {
    display: grid;
    background-color: rgb(121, 63, 63);
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }

  .headings2 {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    width: 100%;
    text-align: center;
  }

  .box1 {
    grid-row: 2 / 2;
    grid-column: 1 / 4;
  }

  .container4 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5% 10% 5% 10%;
  }

  .headings3 {
    grid-column: 1 / 4;
  }

  .project {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }

  .text {
    color: rgb(255, 102, 0);
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .text1 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .txt {
    color: rgb(255, 102, 0);
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .txt1 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}